<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment_2_Parveen"
        tools:targetApi="31">

        <!-- Launcher: NewFoundItemActivity is the app entry point -->
        <activity
            android:name=".ui.newfounditem.NewFoundItemActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activitiesa-->
        <activity
            android:name=".ui.review.ReviewItemActivity"
            android:exported="true" />
        <activity
            android:name=".ui.selectdesk.SelectDeskActivity"
            android:exported="true" />
        <activity
            android:name=".ui.receipt.ReceiptActivity"
            android:exported="true" />

        <!-- FileProvider for camera/gallery -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
